.main_top_container {
	
}

.main_top_img {
	background : url('/img/main_background.jpg') no-repeat;
	background-size : cover;
	height : 550px;
	margin-top : -30px;
}

.img_inner {
	padding-top : 220px;
	margin : 0 auto;
	width : 1092px;
}

.search_area {
	background : #363c48;
	margin : 0 auto;
	padding : 15px;
	width : 640px;
}

.search_input{
	width:100%;
	height:50px;
	padding-left:15px;
	border:none;
	font-size:20px;
	color:#b3b3b3;
	margin-bottom:10px;
}

.community_table {
	margin : 0 auto;
	clear : both;
	table-layout : fixed;
	width : 887px;
	font-size : 15px;
}

.community_table tr {border-top:1px solid #ddd; transition: background-color .3s;}
.community_table tbody tr:hover{background-color: #ddd;}
.community_table th{height:40px;font-size:14px;color:#232323;font-weight:normal;text-align:center;vertical-align:middle;border:1px solid #ddd;border-width:1px 0;}
.community_table td { height : 30px; text-align : center; vertical-align:middle }
.community_table td:nth-child(2) { text-align : left; } 

.community_table a:link {
	color : black;
}

.community_write_container {
	width : 1092px;
	margin : 0 auto;
}

.community_write_table {
	clear : both;
	table-layout : fixed;
	font-weight : bold;
	line-height : 4;
	width : 100%;
}

.btnWrap {
	height : 50px;
}

.write_btn {
	color : white;
	font-size : 14px;
	margin : 5px;
	padding : 5px 15px;
}

.orange {
	border : 1px solid #f7870f;
	background : #ff9320;
}

.skyblue {
	border : 1px solid #3099dd;
	background : #49b2e9;
}

.gray {
	border : 1px solid #585858;
	background : #717171;
}

.bContent { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width : 100%;
	resize : none;
}

.pagination {
	margin-top : 50px;
	text-align : center;
}

.pagination li {
	display : inline-block;
}

.pagination a {
	color: black;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination li a.active {
	font-weight : bold;
	background : #ff9320;
	color : white;
}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.community_sidemenu {
	width : 190px;
	margin-top : 45px;
	margin-right : 10px;
}

.community_table_wrap {
	display : inline-block;
}

.community_sidemenu ul {
	text-align : center;
}

.community_sidemenu ul > div {
	font-size : 16px;
	font-weight : bold;
	padding : 14px 0;
	border-top : 1px solid #eeeeee;
	border-bottom : 1px solid #eeeeee;
	color : white;
}

.community_sidemenu a:link {
	color : black;
}

.community_sidemenu li {
	border-top : 1px solid #eeeeee;
	padding : 12px 0;
}

.board_title {
	font-weight : bold;
	font-size : 18px;
	margin : 15px 0;
}

.attraction_btn {
	position : absolute;
	right : 15px;
	top : 15px;
	padding : 6px;
	font-weight : bold;
	font-size : 11px;
	border-radius : 7%;
}